*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f3ef;
}
.header{
    width: 100%;
    height: 85px;
    background-color: #fff;
    position: relative;
}
.w{
    width: 1190px;
    height: 85px;
    margin: 0 auto;
}
.header img {
    display: inline-block;
    padding-left: 30px;
    height: 80px;
    vertical-align: bottom;


}
.working {
    display: inline-block;
    width: 200px;
    height: 42px;
    font-size: 20px;
    color: #333;
    position: absolute;
    top: 35px;
    left: 315px;
}
.index-a,.userinfo{
    display: inline-block;
    position: absolute;
    color: #333;
    text-decoration: none;
    top: 40px;
    font-size: 16px;
}
.index-a{
    left: 460px;
}
.userinfo{
    left: 560px;
}
.news-search-form{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 36px;
    float: right;
    
}
.search-input{
    width: 270px;
    height: 36px;
    outline: none;
    border: 1px solid #df3028;
    position: absolute;
    top: 25px;
    right: 69px;
}
.search-button{
    width: 60px;
    height: 36px;
    outline: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #df3028;
    border: 1px solid #df3028;
    position: absolute;
    top: 26px;
    right: 70px;
}